.site-main
{
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.categories-menu
{
    margin: 0 0 2rem 0;
    form 
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        background: var(--primaryColor);
        padding: 1.2rem;
        .form-group
        {
            width: 100%;
            display: flex;
            flex-direction: column;
            label {
                margin-bottom: 1rem;
                color: var(--white);
                font-weight: 400;
                font-size: 1.6rem;
            }
            select
            {
                -webkit-appearance: none;
                border: var(--gray);
                padding: 1.2rem ;
                background-color: var(--white);
                color: var(--negro);
                text-align: center;
                cursor: pointer;
            }
        }
        @media screen and (min-width: 768px)
        {
            grid-template-columns: repeat(4, 1fr);
            gap: 1rem;
            .form-group
            {
                label {
                    font-size: 1.3rem;
                }
            }
        }
    }
}

.news-container
{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    .news-card
    {
        background-color: var(--white);
        .news-image
        {
            width: 100%;
            height: 30rem;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                object-fit: contain;
            }
        }
        .news-content
        {
            padding: 2rem;
            .header-content
            {
                margin-bottom: 2rem;
                padding-bottom: 2rem;
                border-bottom: 0.2rem solid rgba(0, 0, 0, 0.09);
                .source 
                {
                    font-weight: bold;
                    span { font-weight: 300; }                    
                }
                .author 
                {
                    font-weight: bold;
                    span { font-weight: 300; }                    
                }
            }
            .title
            {
                font-size: 2.4rem;
                letter-spacing: 0.1rem;
                margin-bottom: 2rem;
            }
            .description
            {
                color: var(--blackAlt);
                margin-bottom: 2rem;
            }
            .article-link
            {
                color: var(--linkColor);
                text-decoration: none;
            }
        }

    }
    &:empty {
        .news-card{    
            height: 500px;
            width: 600px;
            background: radial-gradient(circle 20px, #ccc 100%, transparent),
            linear-gradient(#ccc, #ccc),
            linear-gradient(#ccc, #ccc),
            linear-gradient(#f1f1f1, #f1f1f1);
            background-size: 48px 48px, 190px 40px, 190px 20px, 100% 100%;
            background-position: 50% 24px, 15px 140px, 15px 200px, 0 0;
            background-repeat: no-repeat;
        }
    }
    @media screen and (min-width: 768px) 
    {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1020px)
{
    .site-container
    {
        display: flex;
        justify-content: space-between;
        .categories-menu
        {
            width: 18%;
            transition: all 0.8s ease-in;
            form 
            {
                display: block;
                .form-group
                {
                    margin-bottom: 1.5rem;
                    &:last-child { margin-bottom: 0; }
                }
            }
            &.menu-fixed
            {
                position: fixed;
                top: 12%;
                left: 2%;
                transition: all 0.8s ease-out;
            }
        }
        .news-container
        {
            width: 80%;
            margin: 0 0 0 auto;
        }
    }
}